#musical{
    background-image: url(images/patroni1.jpg);
    background-size: 300px;
    background-color: #CC333F ;
    background-attachment: fixed;
  
    height: 500px;
    
}
[name="fondo"]{
    position: fixed;
    top: 0px;
    left: 22.5%;
    z-index: 0 ;
    margin: 0px auto; 
    left: 50%;
    transform: translate(-50%, -0%);
}
[name="saludo"]{
    top: 220px;
    position: absolute;
    margin-left:30% ;
    width: 500px;
    border-radius: 20px;
    border: 3px solid #AFB0AE ;

}
#index{
    background-image: url(images/patron3.jpg);
    background-color: #085EA9;
}
h1{
    margin-top: 120px;
    text-align: center;
    color: rosybrown;
    font-size: 40px;
    text-shadow: 1px 1px 2px black ;
    margin-bottom: 350px;
}
#principal{
    margin-top: 37% ;
}

/*############ menu ###########*/
section{
    text-align: center;
    max-width: 90%;
    margin: 0px auto;
    background-color: white;
    border: 1px solid rgba(255, 0, 0, 0.541);
    z-index: 1 ;
    border-radius: 30px;    
    transition: all 300ms;
    width: 100%;
    
}

nav{

    margin: 0px auto;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    height: 50px;
    width: 50%;
    margin-bottom: 15px;
    line-height: 40px;
    z-index: 1 ;
    transition: all 300ms;    
}
nav ul li{
    color: black;
    border: 2px solid rgb(117, 115, 115);
    border-radius: 20px;
    background-color: #BFC4BC;
    display: block;
    float: left;
    border-right: 3px solid rgb(117, 115, 115);
    padding-right: 20px;
    padding: 8px;
    padding-left: 10px ;
    z-index: 1 ;
    margin-right: 5px;
    transition: all 300ms;
}

nav ul li:hover{
    background-color: rgb(90, 90, 90);
    
}
nav ul li:hover{
    padding: 10px;
}

/*##################  parrafo 1  ###################*/
[name="welcome"]{   margin-top: 120px;
    
    text-align: center;
    color: rosybrown;
    font-size: 35px;
    text-shadow: 1px 1px 2px black ;
    margin-bottom: 20px;
    margin-top: 0px;
}
[name="1"]{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: px;
    text-align: center;
}
[name="parrafo1"]{
    margin-top: px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
[name="parrafo2"]{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
 ul .l1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
 }
 .li{
     text-align:center;
     margin-right: 0px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 17px;
     
 }    
.li{
    display:inline;
  }
  .minit{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;

  }

 [name="parrafo3"]{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
 }
/*###################  menumu  ################*/
section{
    text-align: center;
    max-width: 80%;
    margin: 0px auto;
    margin-top: 20px ;
    background-color: white;
    border: 1px solid rgba(255, 0, 0, 0.541);
    z-index: 1 ;

    
}

nav{
    position: absolute;
    top: 0px;
    left: 25%;
    margin: 0px auto;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    height: 50px;
    width: 50%;
    margin-bottom: 15px;
    line-height: 40px;
    z-index: 3 ;
    

}
nav ul li{
    
    color: black;
    margin-top: 85%;
    border: 2px solid rgb(117, 115, 115);
    border-radius: 20px;
    background-color: grey;
    display: block;
    float: left;
    border-right: 3px solid rgb(117, 115, 115);
    padding-right: 20px;
    padding: 8px;
    padding-left: 10px ;
    z-index: 1 ;
}

nav ul li:hover{
    background-color: rgb(90, 90, 90);
    color: white;
}
/*###### parrafo musica #########*/

[name="titulomusica"]{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    top: 600px;
    height: 40px;
    max-width: 80%;
    left: 38%;
    font-size: 35px;
    color: brown;
    background-color: cornsilk;
    margin-bottom: 100px;
    z-index: 3 ;
}
#fondotext{
    margin-top: 100px ;
    position: absolute;
    max-width: 80%;
    left: 10%;
    width: 100%;
    height: 100 px;
    top: 200px;
    ;
    z-index: 4;
}

#fondotext{
    position: absolute;
    top: 500px;
    top: 610px;

}    
    
[name="pmu"]{
    margin-left: 100px;        
    text-align: center;    
       
    display: block;
    float: none;
    margin-top: 35px;
    max-width: 80%;
    font-size: 20px;
    color: brown;
    ;
    width: 100%;
    z-index: 6 ;
    left: 0;
    
}

#medio{
    position: absolute;
    right: 0px;
    top: 1450px;
    width: 100%;
    background-color: cornsilk;
    height: 250px;
    z-index: 1 ;
}
   
[name="incli"]{
    position: absolute;
    width: 138%;
    height: 2350px;
    top: 625px;
    left: -480px;
    transform: skewY(-10deg);
    background-color: cornsilk;
    z-index: 1;
}
[name="bajo"]{
    position: absolute;
    height: 70px;
    width: 100%;
    transform: skewY(7deg);
    background-color: #eedfa2;
    bottom: -800px ;
    z-index: 2;
    left:-0px;
    top: 1280px;
}
[name="bajoM"]{
    position: absolute;
    height: 450px;
    width: 100%;
    transform: skewY(7deg);
    background-color: #eedfa2;
    bottom: -800px ;
    z-index: 2;
    left:-0px;
    top: 1800px;
}
[name="bajo2"]{
    top: 2950px;
    position: absolute;
    background-color: #353541;
    left: -13px;
    width: 101%;
    height: 200px;
    bottom: -910px ;
    z-index: 2;
}
[name="bajo3"]{
    transform: skewY(-5deg);
    top: 2860px;
    position: absolute;
    background-color: #353541;
    left: -13px;
    width: 101%;
    height: 200px;
    bottom: -910px ;
    z-index: 3;
}
[name="sub3"]{
    text-align: center;
    color: brown;
}
[name="prueba"]{
    position: absolute;
    top: 2800px;
    left: 50%;
    color: white;
    font-size: 30px;
    transform:scaleZ((100deg)) ;
}



/*################# REDES ##################*/
 [name="face"]{
     width: 50px;
     height: 50px;
     right: 0px;
     top: 45%;
     margin-right: 5px;
     position: fixed;
     border-radius: 10px;
     transition: all 350ms; 
     z-index: 10 ;
    }
[name="face"]:hover{
    width: 55px;
    height: 55px;
}
 [name="insta"]{
    width: 50px;
    height: 50px;
    right: 0px;
    top: 52%;
    margin-right: 3px;
    position: fixed;
    transition: all 350ms;
    z-index: 10 ;
}
 [name="insta"]:hover{
    width: 55px;
    height: 55px;
 }
.clearfix{
    float: none;
    clear: both;
}
[name="fondoredes"]{
    position: fixed;
    right: 0px;
    top: 43%;
    width: 100px;
    height: 150px;
    border-radius: 20px 0px 0px 20px;

}
/*###############################  estudios ########################*/
[name="titlees"]{
    text-align: center;
    margin: 0px auto ;
    color: white;
    font-size: 70px;
    text-shadow:5px 4px 2px grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
[name="estudiandoando"]{
    position: absolute;
    top: 12%;
    left: 31%;
    width: 500px;
    border-radius: 20px;
}
[name="bodyes"]{
    background-image: url(images/patron2.jpg);
}
#principales{
    position: absolute;

    max-width: 80%;
    background-color: rgb(177, 166, 166);
    width: 100%;
    height: 100%;
    left: 10%;
    top: 600px;
    border-radius: 15px;
}
.q{
    margin-left: 20px;
    max-width: 80%;
    color: white;
    text-align: left;
    font-size: 20px ;
}
[name="q"]{
    position: absolute;
    top: 1000px;
    left: 20%;
    margin-left: 20px;
    max-width: 60%;
    color: white;
    text-align: left;
    font-size: 20px ;
}
[name="par"]{
    position: absolute;
    top: 690px;
    left: 16%;
}
[name="parrafoti"]{
    top: 580px  ;
    position: absolute;
    left: 37%;
    color: white;
    font-size: 45px;
    margin-bottom: 20px;
    text-shadow: 5px 4px 2px rgb(104, 101, 101);
}
#sub{
    position: absolute;
    top: 950px;
    left: 40% ;
    text-align: center;
}
[name="sub2"]{
    position: absolute;
    top: 1140px;
    left: 44% ;
    text-align: center;
}
[name="par2"]{
    position: absolute;
    top: 60%x;
    left: 16%;
    top: 1200px;
}
